.header{
  background: #517373;
  padding: 5px;
  font-family: Geneva, Verdana, sans-serif;
}
.headshot{
  text-align: center;
  width: auto;
  height: auto;
  padding: 3em;
}
.services{
  background:#7AB3BF;
  padding: 3em;
  text-align: center;
}
.experience{
  background:#9ACDD9;
  padding: 10px;
}
.mywork{
  background:#DCEEF2;
  text-align: center;
  padding: 5px;
}
.box {
  background-color: #444;
  color: #fff;
  padding: 20px;
  font-size: 100%;
  text-align: center;
}

.box:nth-child(even) {
  background-color: #ccc;
  color: #000;
}
.wrapper {
  width: 600px;
  display: grid;
  grid-gap: 15px;
  row-gap: 15px;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: 100px 100px 100px;
  grid-auto-flow: column;
}
.pastjobs{
  background:#B6DBF2;
  padding: 5px;
}
.footer{
  background:#E8FBFF;
  text-align: center;
  font-size: 19px;
  padding: 5px;
}
a {
  transition: background-color .5s;
}

a:hover {
  background-color: gold;
}
